@use 'bootstrap.css';
@use 'fontawesome/css/all.css';

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: "hero hero hero hero hero" ". main main main ." ". main main main ." ". main main main ." "footer footer footer footer footer";
}

.hero { grid-area: hero; }

.main { grid-area: main; }

.footer { grid-area: footer; }

//

$backGroundColor: #a1c4fd;
$gradientBarSize: 15px;

.hr {
	width: 100%;
	height: 1px;
	display: block;
	position: relative;
	margin-bottom: 0;
	padding: 2em 0;
}
.hr:after, .hr:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 50%;
	left: 0;
}
.hr:before {
	background-image: linear-gradient(90deg, #EEEEEE 0%, #EEEEEE 50%, transparent 50%, transparent 100%);
	background-size: 15px;
	background-position: center;
	z-index: 1;
}
.hr:after {
	transition: opacity 0.3s ease, animation 0.3s ease;
	background-size: 200%;
	background: linear-gradient(to right, #10a5e3 5%, #27ace3 15%, #3db2e3 25%, #54b9e3 35%, #6bc0e3 45%, #82c6e3 55%, #98cde3 65%, #afd4e3 75%, #c6dae3 85%, #dce1e3 95%) 0;
	animation: bar 15s linear infinite;
}
@keyframes bar {
	0% {
		background-position: 0;
	}
	100% {
		background-position: 200%;
	}
}

.hr.anim:before {
	background-size: 150px;
	background: linear-gradient(90deg, #EEEEEE 0%, #EEEEEE 5%, transparent 5%, transparent 10%, #EEEEEE 10%, #EEEEEE 15%, transparent 15%, transparent 20%, #EEEEEE 20%, #EEEEEE 25%, transparent 25%, transparent 30%, #EEEEEE 30%, #EEEEEE 35%, transparent 35%, transparent 40%, #EEEEEE 40%, #EEEEEE 45%, transparent 45%, transparent 50%, #EEEEEE 50%, #EEEEEE 55%, transparent 55%, transparent 60%, #EEEEEE 60%, #EEEEEE 65%, transparent 65%, transparent 70%, #EEEEEE 70%, #EEEEEE 75%, transparent 75%, transparent 80%, #EEEEEE 80%, #EEEEEE 85%, transparent 85%, transparent 90%, #EEEEEE 90%, #EEEEEE 95%, transparent 95%, transparent 100%) center;
	z-index: 1;
	animation: bar 120s linear infinite;
}
.hr.anim:hover:before {
	animation-duration: 20s;
}
.hr.anim:hover:after {
	animation-duration: 2s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}